form 
{
    display: grid;
}

.btn
{
    color: var(--secondColor);
    background-color: var(--primaryColor);
}


:host 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}