<div class="container-fluid">
    <div>
        <div>
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Registro de usuário</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Nome.Sobrenome</label>
                          <input type="email" class="form-control" name="nome" [(ngModel)]="nome">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Senha</label>
                          <input type="password" class="form-control" name="password" [(ngModel)]="password">
                        </div>
                        <button type="button" class="btn btn-primary" (click)="registrar()">Registrar</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
