<div class="container center">
    <div class="parallax" id="gerencie"></div>
    <div class="card">
        <div class="card-title">IASGE</div>
        <div class="card-corpo">
            <div class="card-list">
                <div class="li" style="--color:rgb(130, 174, 255);">Gerencie</div>
            </div>
        </div>
    </div>  
    <div class="parallax" id="organize"></div>
    <div class="card">
        <div class="card-title">IASGE</div>
        <div class="card-corpo">
            <div class="card-list para">
                <div class="li" style="--color:rgb(35, 75, 150);">Organize</div>
            </div>
        </div>
    </div>  
    <div class="parallax" id="compartilhe"></div>
    <div class="card">
        <div class="card-title">IASGE</div>
        <div class="card-corpo">
            <div class="card-list">
                <div class="li" style="--color:rgb(255, 122, 226);">Compartilhe</div>
            </div>
            <div class="slogan">O que há de melhor<mat-icon> favorite </mat-icon></div>        
        </div>
    </div>  
</div>
    