<mat-toolbar class="header">
    <span [matMenuTriggerFor]="menu">
        <a>
            <p class="logo">i</p>
        </a>
    </span>
    <span class="title-group" routerLink="{{ routerLink }}">
        <mat-icon>{{ icon }}</mat-icon>
        {{ title }}
    </span>
    <span>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="config">
                <mat-icon>settings</mat-icon>
                <span>Config</span>
            </button>
            <button mat-menu-item routerLink="home">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button mat-menu-item routerLink="escalas">
                <mat-icon>dashboard</mat-icon>
                <span>Escalas</span>
            </button>
            <button *ngIf="eventos" mat-menu-item routerLink="eventos">
                <mat-icon>event</mat-icon>
                <span>Eventos</span>
            </button>
            <button *ngIf="associados" mat-menu-item routerLink="associados">
                <mat-icon>people</mat-icon>
                <span>Associados</span>
            </button>
            <button *ngIf="departamentos" mat-menu-item routerLink="departamentos">
                <mat-icon>house</mat-icon>
                <span>Departamentos</span>
            </button>
        </mat-menu>
    </span>
</mat-toolbar>
           